*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}
body{
    background-image: url(virus.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    color: hsl(192, 100%, 9%);
}
form{
    padding-top: 10rem;
    padding-bottom: 6rem;
}
.container{
    width: 400px;
    margin:auto ;
    padding: 2rem;
    height: auto;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 2px gray;
   
    border: 2px solid #554a86;
    border-radius: 20px;
    
}
input{
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 2rem;
    border-bottom: 1px solid hsl(192, 100%, 9%);
    padding: 5px 0;
    font-size: 16px;
    color: hsl(192, 100%, 9%);
}
input::placeholder{
    font-size: 16px;
}
button{
    padding: 10px 50px;
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    background-color: rgb(218, 143, 156);
    border:1px solid  hsl(192, 100%, 9%);
    color: hsl(192, 100%, 9%);
}
.btn{
    text-align: center;
}
h1{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 30px;
}
p{
    margin-bottom: 2rem;
    font-size: 18px;
}

@media screen and (max-width:770px){
.container{
    width: 80%;
}
form{
    padding-top: 6rem;
    padding-bottom: 8rem;
}

}